.main-wrap {
    width: 100%;
    padding: 0 20px;
}

.breadcrumb {
    margin-bottom: 0;
}

.pagination {
    margin: 10px 0;
}

.classify-list-wrap {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
}

.classify-list-wrap .classify-wrap {
    width: 240px;
    margin-right: 15px;
    background: #f5f4f2;
    padding: 10px;
    margin-top: 5px;
    padding-right: 0;
}

.classify-list-wrap .classify-wrap a {
    color: #333;
    display: inline-block;
    max-width: 188px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    margin-right: 5px;
}

.classify-list-wrap .classify-wrap .classify-title {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-transform: uppercase;
}

.classify-list-wrap .classify-wrap .arrow-down {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    float: right;
    padding: 5px 10px 10px 10px;
}

.classify-list-wrap .classify-wrap .sub-classify-image {
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.classify-list-wrap .classify-wrap .sub-classify-title {
    font-size: 12px;
    color: #333;
    line-height: 25px;
    white-space: nowrap;
    padding-left: 5px;
    text-transform: capitalize;
}

.classify-list-wrap .classify-wrap .selected {
    color: #cb2027;
}   

.classify-list-wrap .classify-wrap .sub-sub-classify-image {
    width: 25px;
    height: 25px;
    margin-left: 40px;
}

.classify-list-wrap .classify-wrap .sub-sub-classify-title {
    font-size: 10px;
    color: #333;
    height: 25px;
    line-height: 25px;
    white-space: nowrap;
    padding-left: 5px;
    text-transform: capitalize;
}

.classify-list-wrap .classify-wrap .sub-classify-list .selected {
    color: #cb2027;
}

.classify-list-wrap .list-wrap {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.classify-list-wrap .category-adv-wrap {
    width: 100%;
    height: 300px;
    line-height: 300px;
    text-align: center;
    display: none;
}

.list-parent-wrap .label-wrap {
    margin-bottom: 5px;
    margin-left: 5px;
}

.list-parent-wrap .label-wrap .label-item {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
}

/* 手机 */
@media (max-width: 990px) {
    #item_list .category-item {
        display: inline-block;
        margin: 0.25%;
        width: 24.5%;
    }
}

/* PC */
@media (min-width: 992px) {
    #item_list .category-item {
        display: inline-block;
        margin: 10px;
        width: 180px;
    }
}

#item_list .category-item img {
    width: 100%;
    height: auto;
}  

#item_list .category-item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    text-align: center;
}

.hide {
    display: none;
}

.empty-data {
    width: 100%;
    text-align: center;
    display: none;
}