.main-wrap {
    width: 100%;
    margin-top: 5px;
}

#adv_slider img {
    width: 100%;
}

@media (max-width: 990px) {
    #adv_slider_wrap {
        width: 960px;
        overflow: hidden;
    }

    #adv_slider img {
        width: 960px;
    }
}

.main-wrap .adv-image-wrap {
    display: table;
    width: 100%;
}

.main-wrap .adv-image-wrap .adv-image {
    display: table-cell;
    position: relative;
    box-sizing: border-box;
    padding: 10px 10px 20px 0;
}

.main-wrap .adv-image-wrap .adv-image img {
    width: 100%;
}

.main-wrap .adv-image-wrap .adv-image:last-child {
    padding-right: 0;
}

.classify-wrap {
    text-align: center;
    padding: 0 20px;
    display: none;
}

.classify-wrap .title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0 10px;
    text-transform: uppercase;
    background-image: url(/resources/img/title-bg-2.png);
    /* background-image: url(/img/title-bg-2.png); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 25px 0;
}

.classify-wrap .title img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.classify-wrap .categoty-item-wrap {
    padding: 20px 0;
}

@media (max-width: 990px) {
    .classify-wrap .categoty-item-wrap .categoty-item {
        margin: 10px;
    }
}

@media (min-width: 992px) {
    .classify-wrap .categoty-item-wrap .categoty-item {
        margin: 10px;
    }
}

.classify-wrap .categoty-item-wrap .categoty-item .categoty-info-wrap {
    display: table;
    width: 100%;
    /* text-align: left; */
    border-bottom: 2px solid #cb2027;
}

.classify-wrap .categoty-item-wrap .categoty-item .categoty-info-wrap .categoty-icon {
    display: table-cell;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}  

.classify-wrap .categoty-item-wrap .categoty-item .categoty-info-wrap .categoty-icon img {
    width: 100%;
}

.classify-wrap .categoty-item-wrap .categoty-item .categoty-info-wrap .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.classify-wrap .club-item-wrap {
    padding: 20px 0;
}

@media (max-width: 990px) {
    .classify-wrap .club-item-wrap .club-item {
        display: inline-block;
        margin: 0.25%;
        width: 24.5%;
    }

      
}

@media (min-width: 992px) {
    .classify-wrap .club-item-wrap .club-item {
        display: inline-block;
        margin: 0.25%;
        width: 12%;
    }
}

.classify-wrap .club-item-wrap .club-item img {
    width: 100%;
    height: auto;
}  

.classify-wrap .club-item-wrap .club-item .name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #333;
}

#adv_slider .owl-prev,
#adv_slider .owl-next {
    /* top: 180px;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-top: -20px; */
    position: absolute;
    /* border-radius: 50% !important; */
    /* background: rgba(0, 0, 0, .3) !important; */
    /* color: white; */
    /* -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2) */
}

#adv_slider .owl-prev {
    left: 20px;
    top: 0;
    bottom: 36px;
    width: 40px;
}

#adv_slider .owl-next {
    right: 20px;
    top: 0;
    bottom: 36px;
    width: 40px;
}

.mhn-slide {
    padding: 20px;
    padding-top: 10px;
}

.mhn-slide .owl-prev,
.mhn-slide .owl-next {
    /* top: 180px;
    z-index: 2;
    width: 40px;
    height: 40px;
    padding: 8px;
    margin-top: -20px; */
    position: absolute;
    /* border-radius: 50% !important; */
    /* background: #f5f4f2 !important; */
    /* -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .3), 0 0 4px rgba(0, 0, 0, .2) */
}

.mhn-slide .owl-prev {
    left: 0;
    top: 0;
    bottom: 36px;
    width: 40px;
}

.mhn-slide .owl-next {
    right: 0;
    top: 0;
    bottom: 36px;
    width: 40px;
}

#new_bxslider, #new_bxslider {
    min-height: 200px;
    display: block;
}

.owl-carousel .owl-item img {
    display: inline-block;
}

.product-item {
    border: none;
}