.main-wrap {
    width: 100%;
    padding: 0 20px;
}

.content-wrap {
    display: table;
    padding-bottom: 20px;
}

.content-wrap .menu-wrap {   
    display: table-cell;
    vertical-align: top;
    width: 200px;    
}

.content-wrap .menu-list {
    background: #f5f4f2;
    padding: 10px;
}

.content-wrap .menu-wrap .menu {
    color: #333;
    font-size: 14px;
    line-height: 30px;
    font-weight: 100;
    display: block;
}

.content-wrap .menu-wrap .selected {
    font-weight: bold;
    color: #cb2027;
}

.content-wrap .menu-content-wrap {
    display: table-cell;
    padding-left: 20px;
    vertical-align:top;
}

.content-wrap .menu-content-wrap .top-title {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    background: #f5f4f2;
    padding: 0 20px;
    margin-bottom: 10px;
}

.content-wrap .menu-content-wrap #title {
    font-weight: bold;
    color: #333;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #d3d3d3;
}

/* #about_us_wrap, #conditions_of_use_wrap, #privacy_notice_wrap, #shipping_returns_wrap {
    display: none;
} */

.content-wrap .menu-content-wrap .title {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}

.content-wrap .menu-content-wrap .desc {
    color: #666;
    font-size: 12px;
    margin-bottom: 20px;
    line-height: 24px;
}