.content-wrap {
    padding: 0 20px;
}

.content-wrap .hint {
    line-height: 60px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.content-wrap .panel-wrap {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    position: relative;

    font-size: 12px;
    color: #333;
    text-align: left;

    /* 09 */
    -webkit-box-align: flex-start;
    /* 12 */
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
}

#error_message {
    display: none;
}

.content-wrap .panel-wrap .login-wrap {
    /* display: inline-block; */
    width: 560px;
    margin-right: 15px;
}

.content-wrap .panel-wrap .login-wrap .panel-body {
    background-color: #f5f4f2;   
}

.content-wrap .panel-wrap .panel-body table {
    margin-left: 20px;
}

.content-wrap .panel-wrap .error-text {
    color: #cb2027;
    font-size: 10px;
    padding: 10px 0;
    display: none;
}

.content-wrap .panel-wrap .panel-body table td {
    vertical-align: top;
    position: relative;
}

.content-wrap .panel-wrap .panel-body .login-label {
    padding-right: 20px;
    height: 40px;
}

.content-wrap .panel-wrap .panel-body input {
    width: 250px;
    height: 28px;
}

.content-wrap .panel-wrap .panel-body .radio-inline input {
    height: auto;
}

.content-wrap .panel-wrap .login-wrap .forget-pwd {
    margin: 40px 0;
}

.content-wrap .panel-wrap .login-wrap .forget-pwd a {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.content-wrap .panel-wrap .register-wrap {
    display: inline-block;
    width: 560px;
}

.content-wrap .panel-wrap .register-wrap .coupon-hint-wrap {
    padding: 4px 3px;
    background: rgba(234,84,85,0.1);
    display: inline-block;
}

.content-wrap .panel-wrap .register-wrap .coupon-hint-wrap .coupon-hint {    
    border: 1px #ea5455 dashed;
    padding: 2px 5px;
    color: #ea5455;
    font-size: 12px;
    white-space: nowrap;
}

.content-wrap .panel-wrap .register-wrap #countryList {
    max-height: 300px;
    overflow-y: scroll;
    margin-top: -10px;
}

.content-wrap .panel-wrap .register-wrap .help-block {
    color: #999;
}

.content-wrap .panel-wrap .register-wrap .panel-body #agree_input {
    width: auto;
    height: auto;
    /* margin-left: 20px; */
    margin-right: 5px;
}

.content-wrap .panel-wrap .register-wrap .panel-body .radio-inline input {
    width: auto;
}