.breadcrumb {
    margin-bottom: 0;
}

.list-parent-wrap .sort-wrap {
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
    align-items: center;
    margin: 10px 0;
}

.list-wrap {
    border-left: 1px solid #eee;
}

.list-wrap .total-div {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.list-parent-wrap .sort-wrap .dropdown {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.list-parent-wrap .sort-wrap .total-div {
    -webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 1;         /* OLD - Firefox 19- */
    -webkit-flex: 1;          /* Chrome */
    -ms-flex: 1;              /* IE 10 */
    flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */
    text-align: right;
}

.list-parent-wrap #item_list .item {
    width: 290px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: -5px;
}

.list-parent-wrap #item_list .item:nth-last-child(6), .list-parent-wrap #item_list .item:nth-last-child(5), .list-parent-wrap #item_list .item:nth-last-child(4),
.list-parent-wrap #item_list .item:nth-last-child(3), .list-parent-wrap #item_list .item:nth-last-child(2), .list-parent-wrap #item_list .item:nth-last-child(1) {
    border-bottom: 1px solid #eee;
}

@media (max-width: 992px) {
    .list-parent-wrap #item_list .item {
        width: 215px;
    }

    .list-parent-wrap #item_list .item:nth-last-child(6), .list-parent-wrap #item_list .item:nth-last-child(5), .list-parent-wrap #item_list .item:nth-last-child(4) {
        border-bottom: none;
    }

    .list-parent-wrap #item_list .item:nth-last-child(3), .list-parent-wrap #item_list .item:nth-last-child(2), .list-parent-wrap #item_list .item:nth-last-child(1) {
        border-bottom: 1px solid #eee;
    }

    .list-parent-wrap #item_list .image-wrap {
        height: 245px;
        line-height: 245px;
    }    
}

.list-parent-wrap #item_list .subscript {
    color: #fff;
    height: 25px;
    width: 100px;
    position: absolute;
    top: 10px;
    right: -25px;
    text-align: center;
    line-height: 25px;
    font-family: "黑体";
    background-color: #0c60ee;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}

.hide {
    display: none;
}

.empty-data {
    width: 100%;
    text-align: center;
    display: none;
}